.now
.next
build
dist
node_modules
.env
.env.build
/logs
.vercel
.cpcache/
.nrepl-port
.clj-kondo/.cache
dev/resources/secrets.edn
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.calva/