{:deps  {org.clojure/clojure {:mvn/version "1.10.1"}
         org.clojure/tools.namespace {:mvn/version "1.0.0"}
         com.taoensso/timbre {:mvn/version "4.10.0"}
         com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"}
         com.stuartsierra/component {:mvn/version "1.0.0"}
         aero {:mvn/version "1.1.6"}

         ;; HTTP
         http-kit/http-kit {:mvn/version "2.4.0"}
         metosin/reitit-ring {:mvn/version "0.5.5"}
         metosin/reitit-middleware {:mvn/version "0.5.5"}
         ring/ring-core {:mvn/version "1.8.1"}
         ring/ring-headers {:mvn/version "0.3.0"}
         ring/ring-anti-forgery {:mvn/version "1.3.0"}

        ;; Postgres
         seancorfield/next.jdbc {:mvn/version "1.1.581"}
         org.postgresql/postgresql {:mvn/version "42.2.10"}
         com.zaxxer/HikariCP {:mvn/version "3.4.5"}

        ;; JSON
         metosin/jsonista {:mvn/version "0.2.6"}
         camel-snake-kebab {:mvn/version "0.4.1"}

         raml-clj-parser {:mvn/version "0.1.1-SNAPSHOT"}

         jarohen/chime {:mvn/version "0.3.2"}}

 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev/src" "test"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts ["-m" "uberdeps.uberjar" "--target target/syncify-api.jar"]}}}
