;; This files shows the structure of the local secrets file used for development
;; Copy it to 'dev_secrets.edn' and fill in the secrets.
{:spotify    {:client-id     "edit-me"
              :client-secret "edit-me"}
 :pusher     {:app-id  "app-id"
              :key     "app-key"
              :secret  "secrets"
              :cluster "eu"}
 :jwt-secret "hunter2hunter2"}