;; This files shows the structure of the local secrets file used for development
;; Copy it to 'secrets.edn' and fill in the secrets.
{:spotify {:client-id "abcdefghijklmnop"
           :client-secret "zyx"}
 :pusher {:app-id "app-id"
          :key "app-key"
          :secret "secrets"
          :cluster "eu"}}